docutils>=0.17.1
beautifulsoup4>=4.11.1
soupsieve>=2.3.2.post1
gitdb>=4.0.9
pip>=22.2
attrs>=21.4.0
wheel>=0.37.1
Sphinx>=4.5.0
tornado>=6.2
Jinja2>=3.1.2
pyzmq>=23.2.0
colorama>=0.4.5
pexpect>=4.8.0
parso>=0.8.3
jedi>=0.18.1
pytz>=2022.1
PyYAML>=6.0
anyio>=3.6.1
sniffio>=1.2.0
Babel>=2.10.3
setuptools>=57.4.0
smmap>=5.0.0
pybtex>=0.24.0
six>=1.16.0
webencodings>=0.5.1
bleach>=5.0.1
tinycss2>=1.1.1
MarkupSafe>=2.1.1
nbdime>=3.1.1
nbformat>=5.4.0
requests>=2.28.1
jsonschema>=3.2.0
traitlets>=5.3.0
notebook>=6.4.12
Pygments>=2.12.0
psutil>=5.9.1
latexcodec>=2.0.1
packaging>=21.3
imagesize>=1.4.1
snowballstemmer>=2.2.0
certifi>=2022.6.15
debugpy>=1.6.2
ipython>=8.4.0
SQLAlchemy>=1.4.39
decorator>=5.1.1
backcall>=0.2.0
pickleshare>=0.7.5
wcwidth>=0.2.5
ipywidgets>=7.7.1
nbconvert>=6.5.0
ptyprocess>=0.7.0
python-dateutil>=2.8.2
nbclient>=0.5.13
fastjsonschema>=2.16.1
Send2Trash>=1.8.0
terminado>=0.15.0
idna>=3.3
urllib3>=1.26.10
alabaster>=0.7.12
asttokens>=2.0.5
executing>=0.8.3
ipykernel>=6.15.1
defusedxml>=0.7.1
pandocfilters>=1.5.0
mistune>=0.8.4
entrypoints>=0.4
pyparsing>=3.0.9
pycparser>=2.21
websocket-client>=1.3.3
pyrsistent>=0.18.1
click>=8.1.3
zipp>=3.8.1
cffi>=1.15.1